# Ignore all version control
.git
.gitignore
.gitlab-ci.yml
.pre-commit-config.yaml
.python-version
.editorconfig
.dockerignore

# Build artifacts
.pytest_cache
.ruff_cache
.uv-cache
.venv
node_modules
__pycache__
*.pyc
*.pyo
*.pyd

# Local data
db.sqlite3
.env
staticfiles
media

# CSS artifacts
task_dashboard/static/css/tailwindcss
task_dashboard/static/css/daisyui.mjs
task_dashboard/static/css/daisyui-theme.mjs
task_dashboard/static/css/output.css

# Documentation
README.md
ARCHITECTURE.md
TODO.md
LICENSE
SCRATCH
SCRIPTS
docs
