.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.venv
.git
.envs/

# CSS Source Files
ticket_dashboard/static/css/input.css
ticket_dashboard/static/css/daisyui.mjs
ticket_dashboard/static/css/daisyui-theme.mjs
ticket_dashboard/static/css/tailwindcss
