<div class="flex items-center justify-center p-4 border-t border-base-300 bg-base-100">
  <div class="join">
    {% if tickets.has_previous %}
      <button onclick="changePage({{ tickets.previous_page_number }})"
              class="join-item btn btn-sm">«</button>
    {% else %}
      <button class="join-item btn btn-sm btn-disabled">«</button>
    {% endif %}
    {% for page_num in custom_page_range %}
      {% if page_num == tickets.paginator.ELLIPSIS %}
        <button class="join-item btn btn-sm btn-disabled">...</button>
      {% elif page_num == tickets.number %}
        <button class="join-item btn btn-sm btn-active">{{ page_num }}</button>
      {% else %}
        <button onclick="changePage({{ page_num }})"
                class="join-item btn btn-sm bg-base-100">{{ page_num }}</button>
      {% endif %}
    {% endfor %}
    {% if tickets.has_next %}
      <button onclick="changePage({{ tickets.next_page_number }})"
              class="join-item btn btn-sm">»</button>
    {% else %}
      <button class="join-item btn btn-sm btn-disabled">»</button>
    {% endif %}
  </div>
</div>
