{% for i in "123456789012345" %}
  <tr class="hover:bg-transparent border-b border-base-200">
    <td class="w-5 px-1"><div class="skeleton h-4 w-4 rounded-full"></div></td>
    <td class="px-1 w-1 whitespace-nowrap"><div class="skeleton h-4 w-16"></div></td>
    <td class="px-1 w-[120px]"><div class="skeleton h-4 w-20"></div></td>
    <td class="px-1"><div class="skeleton h-4 w-full"></div></td>
    <td class="px-1"><div class="skeleton h-4 w-24"></div></td>
    <td class="px-1"><div class="skeleton h-4 w-24"></div></td>
    <td class="px-1 min-w-[150px]"><div class="skeleton h-4 w-32"></div></td>
    <td class="px-1 w-[80px]"><div class="skeleton h-4 w-16 rounded-full"></div></td>
    <td class="px-1 w-[80px]"><div class="skeleton h-4 w-16"></div></td>
    <td class="px-1 w-[80px]"><div class="skeleton h-4 w-16"></div></td>
    <td class="px-1 w-[80px]"><div class="skeleton h-4 w-16"></div></td>
    <td class="px-1 w-[80px]"><div class="skeleton h-4 w-16"></div></td>
  </tr>
{% endfor %}
